* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 2.5em;
    color: #333;
    padding: 10px;
}

.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.device h2 {
    font-size: 1.8em;
    color: #4a90e2;
    margin-bottom: 10px;
}

.states {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#stateConnected, #stateDisconnected, #stateNotAvailable {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}

#stateConnected {
    color: #4caf50;
}

#stateDisconnected {
    color: #f44336;
}

#stateNotAvailable {
    color: #f4b536;
}


#connectButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#connectButton:hover {
    background-color: #357ab8;
}


#disconnectButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color:  #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#disconnectButton:hover {
    background-color: #357ab8;
}

.action {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4a90e2;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.action h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2em;
}

.choices {
    display: flex;
    gap: 15px;
}

.choices button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.choices button:nth-child(1) { background-color: #4caf50; }
.choices button:nth-child(2) { background-color: #f44336; }
.choices button:nth-child(3) { background-color: #ff9800; }

.choices button:hover {
    opacity: 0.8;
}
